VITE_SUPABASE_PROJECT_ID="sfdppcdzvwmdbqlehihz"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmZHBwY2R6dndtZGJxbGVoaWh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5NDAxMzgsImV4cCI6MjA5ODUxNjEzOH0.AzdXHCL2JesJuS9N89kx3VDPsBTtfL8t1T3fYAyAjxU"
VITE_SUPABASE_URL="https://sfdppcdzvwmdbqlehihz.supabase.co"
